.proy-cont {
    width: 95%;
    text-align: left;
    text-align: justify;
    padding-left: 5%;
    color: rgb(0, 0, 0);
    margin-bottom: 50px;
    margin-top: 50px;
}
a{
    text-decoration: none;
}