<div class="bord_exp contenedor-base contenedor-exp">
  <!--Zona Proyectos-->
  <h1 class="h1exp">Proyectos</h1>
  <div class="proy-cont">
      <h4>Portfolio Web</h4>

      <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero laborum harum neque quaerat ea illo fuga animi in rem molestias beatae numquam at velit, esse sit repellat assumenda est. Nisi.</h6>

      <button class="proy-boton">Visitar</button>
  </div>
  <div id="nose"></div>
  <div class="proy-cont">
      <h4>Portfolio Web</h4>

      <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero laborum harum neque quaerat ea illo fuga animi in rem molestias beatae numquam at velit, esse sit repellat assumenda est. Nisi.</h6>

      <button class="proy-boton">Visitar</button>
  </div>
  <div class="proy-cont">
      <h4 id = "h41">Portfolio Web</h4>
      <h6 id = "h62">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero laborum harum neque quaerat ea illo fuga animi in rem molestias beatae numquam at velit, esse sit repellat assumenda est. Nisi.</h6>
      <button class="proy-boton">Visitar</button>
  </div>
  


</div>