<ul class="navbar">
  <li class="nav-item item">
    <a class="nav-link link desac" href="/Home#inicio">Inicio</a>
  </li>
  <li class="nav-item item">
    <a class="nav-link link desac" href="/Home#educacion">Educación</a>
  </li>
  <li class="nav-item item">
    <a class="nav-link link desac" href="/Home#conocimientos">Conocimientos</a>
  </li>
  <li class="nav-item item">
    <a class="nav-link link desac"  href="/Home#proyectos">Proyectos</a>
  </li>
  <li class="nav-item item">
    <a class="nav-link link desac"  href="/Home#footer">Contactar</a>
  </li>
  <li class="nav-item">
    <a class="item btn-success btn" routerLink="/Login">Iniciar sesión</a>
  </li>
</ul>

<div class="btn-group">
  <button type="button" class="btn btn-success dropdown-toggle"
          data-toggle="dropdown"></button>

  <ul class="dropdown-menu" role="menu">
    <li class="nav-item item">
      <a class="nav-link link" href="/Home#inicio">Inicio</a>
    </li>
    <li class="nav-item item">
      <a class="nav-link link" href="/Home#educacion">Educación</a>
    </li>
    <li class="nav-item item">
      <a class="nav-link link" href="/Home#conocimientos">Conocimientos</a>
    </li>
    <li class="nav-item item">
      <a class="nav-link link"  href="/Home#proyectos">Proyectos</a>
    </li>
    <li class="nav-item item">
      <a class="nav-link link"  routerLink="/Contactar">Contactar</a>
    </li>
  </ul>
</div>
