<ul class="navbar">
  <li class="nav-item item">
    <span id="item-arg">@Argentina <br> Programa!</span>
  </li>
  <li class="nav-item item">
    <a class="nav-link link" href="/Home#inicio">Inicio</a>
  </li>
  <li class="nav-item item">
    <a class="nav-link link" href="/Home#educacion">Educación</a>
  </li>
  <li class="nav-item item">
    <a class="nav-link link" href="/Home#conocimientos">Conocimientos</a>
  </li>
  <li class="nav-item item">
    <a class="nav-link link"  href="/Home#proyectos">Proyectos</a>
  </li>
  <li class="nav-item">
    <a class="item btn-success btn" href="/Login">Iniciar sesión</a>
  </li>
</ul>
