.h5-con {
    align-items: center;
    font-size: x-large;
    text-align: center;
}

.h6-con {
    font-size: medium;
    align-items: center;
    text-align: center;
}

#h1conocimiento {
    width: 100%;
    text-align: center;
    padding-top: 5%;
    margin-bottom: 7.5%;
}