<div class="bord_exp contenedor-base contenedor-exp">
  <!--Zona Conocimientos-->
  <h1 id="h1conocimiento">Conocimientos (Estimaciónes)</h1>

      <div class="row dec-row">
      
          <div class="col-4"> <h5 class="h5-con">Python</h5> <h6 class="h6-con"> 20% </h6></div>

          <div class="col-4"> <h5 class="h5-con">HTML</h5> <h6 class="h6-con"> 35% </h6></div>

          <div class="col-4"> <h5 class="h5-con">Css</h5> <h6 class="h6-con"> 25% </h6></div>
  
      </div>

      <div class="row dec-row">
      
          <div class="col-4"> <h5 class="h5-con">JavaScript</h5> <h6 class="h6-con"> 7% </h6></div>
      
          <div class="col-4"> <h5 class="h5-con">Ingles</h5> <h6 class="h6-con"> 35% </h6></div>

          <div class="col-4"> <h5 class="h5-con">Java</h5> <h6 class="h6-con"> 0% </h6></div>
      
      </div>

</div>