<div class="bord_exp contenedor-base contenedor-exp">

    <h1 id="h1conocimiento">Conocimientos (Estimaciónes)</h1>        
    <div class="cont-con">
        <div class="progress">
            <div class="progress-bar" style="width: 75%;">
                <span class="progress-bar-text"> HTML: 75%</span>
            </div>
        </div>
    </div>
    <div class="cont-con">
        <div class="progress">
            <div class="progress-bar" style="width:75%;">
                <span class="progress-bar-text">CSS: 75%</span>
            </div>
        </div>
    </div>
    <div class="cont-con">
        <div class="progress">
            <div class="progress-bar" style="width:75%;">
                <span class="progress-bar-text">TypeScript: 75%</span>
            </div>
        </div>
    </div>
</div>