<div class="bord_exp contenedor-base contenedor-exp" id="conocimientos">

    <h1 id="h1conocimiento">Conocimientos (Estimaciónes)</h1>        

    <div class="row dec-row" *ngFor="let item of items;">
    
        <div class="col-12"> <input placeholder="Conocimiento" type="text" maxlength="20"></div>

        <div class="col-12 py-3"> <input type="number" placeholder="Porcentaje" min=0 max=100 style="width: 189px;"> </div>
        

        <div class="col-6 btn-editar"> <button class="btn btn-success">Cambiar</button> </div>
        <div class="col-6" style="text-align: left;"> <button class="btn btn-danger">Eliminar</button> </div>
        
    </div>


    <div class="row dec-row">
        <div class="col-12"> 
            <button class="btn btn-success" (click)="nuevoItem()" >Nuevo Item</button> 
        </div>
    </div>
</div>