<div class="bord_exp contenedor-base contenedor-exp" id="conocimientos">

    <h1 id="h1conocimiento">Conocimientos (Estimaciónes)</h1>        
    <div class="row dec-row">
        
        <div class="col-10"> 
            <div class="cont-con">
                <div class="progress">
                    <div class="progress-bar" style="width: 75%;">
                        <span class="progress-bar-text"> HTML: 75%</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2"> <button class="btn btn-success">Editar</button> </div>

    </div>

    <div class="row dec-row">
        <div class="col-12"> 
            <button class="btn btn-success">Nuevo Item</button> 
        </div>
    </div>
</div>