<div class="bord_exp contenedor-base contenedor-exp" id="educacion">
    <h1 class="h1exp">Educación recibida</h1>

    <div class="row dec-row" *ngFor="let item of educacion; index as i">
        
        <div class="col-12 py-3"> <input placeholder="{{item.titulo}}" #titulo type="text" maxlength="50"></div>

        <div class="col-12"> <input type="text" placeholder="{{item.descripcion}}" #descripcion maxlength="300" style="width: 100%;"> </div>
        
        <div class="col-12 py-3"><input type="url" style="width: 30%;" placeholder="{{item.url}}" #url></div>

        <div class="col-6 btn-editar"> <button class="btn btn-success" (click)="actualizar(item, titulo.value, descripcion.value, url.value)">Editar</button> </div>
        
        <div class="col-6"> <button class="btn btn-danger" (click)="eliminarCon(i)">Eliminar</button> </div>
        
    </div>
    <div class="row dec-row">
        <div class="col-12 btn-item"> 
            <button class="btn btn-success" (click)="nuevoItem()" >Nuevo Item</button> 
        </div>
    </div>

</div>