<div class="bord_exp contenedor-base contenedor-exp" id="educacion">
    <h1 class="h1exp">Educación recibida</h1>

    <div class="row dec-row" *ngFor="let item of items;">
        
        <div class="col-12 py-3"> <input placeholder="Titulo" type="text" maxlength="20"></div>

        <div class="col-12"> <input type="text" placeholder="Descripción" maxlength="300" style="width: 100%;"> </div>
        
        <div class="col-12 py-3"><input type="url" style="width: 30%;" placeholder="Url del logo de la empresa/organizacion"></div>

        <div class="col-6 btn-editar"> <button class="btn btn-success">Editar</button> </div>
        
        <div class="col-6"> <button class="btn btn-danger">Eliminar</button> </div>
        
    </div>
    <div class="row dec-row">
        <div class="col-12 btn-item"> 
            <button class="btn btn-success" (click)="nuevoItem()" >Nuevo Item</button> 
        </div>
    </div>

</div>