<ul class="navbar">
  <li class="nav-item item">
    <span id="item-arg">@Argentina <br> Programa!</span>
  </li>
  <li class="nav-item item">
    <a class="nav-link link" href="/Edit#inicio">Inicio</a>
  </li>
  <li class="nav-item item">
    <a class="nav-link link" href="/Edit#educacion">Educación</a>
  </li>
  <li class="nav-item item">
    <a class="nav-link link" href="/Edit#conocimientos">Conocimientos</a>
  </li>
  <li class="nav-item item">
    <a class="nav-link link"  href="/Edit#proyectos">Proyectos</a>
  </li>
  <li class="nav-item">
    <a class="item btn-danger btn" href="/Home">Cerrar sesión</a>
  </li>
</ul>
