<footer class="bg-dark text-center text-lg-start" id="footer">
  <ul class="navbar">
    <li class="nav-item item">
      <a class="item btn btn-volver" href="/Home#inicio">Inicio</a>
      <a class="item btn btn-contact" Target="_blank" href="https://www.instagram.com/augustohser/?next=%2F">Instagram</a>
      <a class="item btn btn-contact" Target="_blank" href="https://github.com/Augustoxtmh">Github</a>
      <a class="item btn btn-contact" Target="_blank" href="https://www.linkedin.com/in/juan-augusto-haser-744733247/">Linkedin</a>
      <a class="item" id="correo">juanaugustohaser@gmail.com</a>
    </li>
    <li class="nav-item item">
      <img id="logo-arg-prog" src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1668983675/Diseño%20sin%20título%20%2817%29.png" alt="Logo Argentina Programa" >
    </li>
  </ul>
</footer>