footer li{
    display: inline-block;
    align-items: center;
}

.navbar {
    overflow: hidden;
    position: relative;
    bottom: 0; 
    margin-bottom: 0;
    width: 100%; 
}

#correo{
    color: rgb(171, 171, 171);
    text-decoration: none;
}

.btn:hover{
    background-color: rgb(72, 72, 72);
    
}

#logo-arg-prog {
    margin-right: 20px;
    max-width: 250px;
    width: 100%;
    max-height: 100px;
}

.btn {
    margin: 0;
    color: white;
}

@media (max-width: 250px) {
    .btn{
        font-size: small;
    }
}

@media (max-width: 310px) {
    .btn{
        font-size: small;
   }
}