<footer class="bg-dark text-center text-lg-start" id="footer">
  <ul class="navbar">
    <li class="nav-item item">
      <a class="item btn btn-volver" href="/Home#inicio">Inicio</a>
      <a class="item btn btn-contact" Target="_blank" href="https://www.instagram.com/augustohser/?next=%2F">Instagram</a>
      <a class="item btn btn-contact" Target="_blank" href="https://github.com/Augustoxtmh">Github</a>
      <a class="item btn btn-contact" Target="_blank" href="https://www.linkedin.com/in/juan-augusto-haser-744733247/">Linkedin</a>
      <a class="item px-1" id="correo">juanaugustohaser&#64;gmail.com</a>
    </li>
  </ul>
</footer>