<div class="bord_exp contenedor-base contenedor-exp">

    <h1 class="h1exp">Experiencias previas</h1>
        <div *ngFor="let exp of experiencias">    
            <div class="row dec-row">
            
                <div class="col-2"> <img src={{exp.url}} alt="Logo Experiencia" class="img-fluid"> </div>
            
                <div class="col-10"> <h5 class="h5-exp">{{exp.titulo}}</h5> <h6 class="h6-exp"> {{exp.descripcion}} </h6></div>
            
            </div>
        </div>
</div>
