<body background= "https://cdn.bhdw.net/im/lenguaje-de-codificacion-de-programacion-papel-pintado-81236_w635.webp">
  <div class="py-5 px-5">
    <form id="formulario">
      <div class="form-outline">
        <label class="form-label">Correo:</label>
        <input type="text" class="form-control" />
      </div>

      <div class="form-outline">
        <label class="form-label">Asunto:</label>
        <input type="password" class="form-control" />
      </div>

      <div class="form-outline">
        <label class="form-label">Contenido:</label>
        <input type="text" class="form-control" id="contenido-input" maxlength="300"/>
      </div>
      
      <button type="button" id="btn-enviar" class="btn btn-success">Enviar</button>
    </form>
    </div>
  <button (click)="volverInicio()" class="mx-5 btn-primary btn">Volver</button>
</body>