<div class="contenedor-banner contenedor-base" id="inicio">
    <form action="presentacion">
      <div class="py-3 px-3"><input placeholder="Url de Banner" type="text" style="width: 100%;"></div>

      <div class="py-3 px-3"><input placeholder="Url de foto de perfil" type="text" style="width: 100%;"></div>
      
      <div class="py-3 px-3"><input placeholder="Nombre" type="text" maxlength="30" style="width: 30%;"></div>

      <div class="py-3 px-3"><input placeholder="Descripción" type="text" maxlength="50" style="width: 80%;"></div>
      
      <div class="btn-editar py-3"> <button class="btn btn-success">Actualizar</button> </div>
    </form>
</div>

