<div class="bord_exp contenedor-base contenedor-exp">
    <!--Zona Educación-->
    <h1 class="h1exp">Educación recibida</h1>

        <div class="row dec-row">
        
            <div class="col-2"> <img src="https://static.acaula.com.ar/center/AR/1328-instituto-argentino-de-estudios-superiores-iaes-9a28a03e-7797-4fc3-a1f2-8e7bdda79d1a-logo-200x200.png" alt="Logo Educación" class="img-emp"></div>
            
            <div class="col-8"> <h5 class="h5-exp">IAES</h5> <h6 class="h6-exp"> Cursando nivel terciario de la carrera Analista de Sistemas, 1er año. </h6></div>

            <div class="col-sm-2"> <button class="btn">Editar</button> </div>
        
        </div>

        <div class="row dec-row">
        
            <div class="col-2"> <img src="https://secure.meetupstatic.com/photos/event/4/c/b/b/600_468259643.jpeg" alt="Logo Educación" class="img-emp"> </div>
        
            <div class="col-8"> <h5 class="h5-exp">FreeCodeCamp</h5> <h6 class="h6-exp"> Curso de Diseño Web Responsive con certificado. </h6></div>

            <div class="col-sm-2"> <button class="btn">Editar</button> </div>
        
        </div>

        <div class="row dec-row">
        
            <div class="col-2"> <img src="https://secure.meetupstatic.com/photos/event/4/c/b/b/600_468259643.jpeg" alt="Logo Educación" class="img-emp"> </div>
        
            <div class="col-8"> <h5 class="h5-exp">Vacío</h5> <h6 class="h6-exp"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic assumenda earum </h6></div>

            <div class="col-sm-2"> <button class="btn">Editar</button> </div>
        
        </div>
</div>